@model Lanche

<div class="col-sm-auto col-md-auto col-lg-auto">
		<p><img src="@Model.ImagemUrl" class="img-fluid"/></p>
		<h6>Preco: @Model.Preco.ToString("c")</h6>
		<h5>@Model.Name</h5>
		<p>@Model.DescricaoCurta</p>
	</div>