<div class="container">
    <h1 style="text-align:center">
        <strong>Fale Conosco</strong>
    </h1>
    <div class="jumbotron">
        <h4 style="text-align:center">Queremos ouvir o que você tem a dizer.</h4>
        <p style="text-align:center">
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <br /> 
            <div class="text-center">
                <img src="/imagens/Envelope-icon24.png " />
            </div>

            <h5 style="text-align:center"><email endereco="gustavo.silveira.goncalves" conteudo="Enviar um email"></email></h5>
            <br />
            <div class="text-center">
                <img src="/imagens/phone-app-icon.png">
            </div>
            <h6 style="text-align:center">(27) 98816-1220</h6>
            <br />
            <div class="text-center">
                <img src="/imagens/Home-iconred.png " />
            </div>
            
            <h6 style="text-align:center">Rua Praia da costa, 1000, 123-4400 Vitoria/ES</h6>
        </p>
    </div>
</div>